@charset "utf-8";
A:link { FONT-STYLE: normal; TEXT-DECORATION: none; color: #c3aeae;} 
A:visited { FONT-STYLE: normal; TEXT-DECORATION: none; color: #165879;} 
A:active { FONT-STYLE: normal; TEXT-DECORATION: none; color: #af9898;} 
A:hover {FONT-STYLE: normal;  TEXT-DECORATION: none; color: #179147;}
body {
  margin: 0; 
  padding: 0; 
  font-family: Gotham, Helvetica Neue, Helvetica, Arial,微軟正黑體," sans-serif";
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.both{clear: both;}
img{max-width: 100%;}
.carousel-item img{max-width: unset;}

/*以下是自設定*/
.btn-primary {
    --bs-btn-bg: #f3dc31;
    opacity: 70%;
    --bs-btn-border-color: #a78215;
    color: #7f8284;
    }
    
.element.style {
}
.bg-dark {
    background-color:  #e2d09c!important;
}
.fw-normal {
  margin-top: 24px;
  font-size: 24px;
  box-shadow: inset -1px 0px 49px -2px #ABABAB,11px 13px 5px 1px #6E6262;
-webkit-box-shadow: inset -1px 0px 49px -2px #ABABAB,11px 13px 5px 1px #6E6262;
-moz-box-shadow: inset -1px 0px 49px -2px #ABABAB,11px 13px 5px 1px #6E6262;
-o-box-shadow: inset -1px 0px 49px -2px #ABABAB,11px 13px 5px 1px #6E6262;
}

p {
  margin-top: 24px;
}
.marketing .col-lg-2 {
  box-shadow: inset -1px 0px 49px -2px #ABABAB, 11px 13px 5px 1px #6E6262;
  -webkit-box-shadow: inset -1px 0px 49px -2px #ABABAB, 11px 13px 5px 1px #6E6262;
  -moz-box-shadow: inset -1px 0px 49px -2px #ABABAB,11px 13px 5px 1px #6E6262;
  -o-box-shadow: inset -1px 0px 49px -2px #ABABAB,11px 13px 5px 1px #6E6262;
  margin-right: 24px;
}